* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}

/* head section start */

.head {
    width: 100%;
    height: 100vh;
    /* background-image: url(img//blackbg.jpg); */
    
    background-size: cover;
    background-position: center;
    background-color:#0a192f;

}
.cursor{
    position: fixed;
    left: 10px;
    width: 5px;
    height: 5px;
    transform: translate(-50%,-50%);
    background-color: #4cda4c;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width .5s,height .5s;
}
.cursor2 {
    position: fixed;
    left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(-50%,-50%);
    border: 1px solid #94e794;
    border: 1px solid var(--base-color);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    pointer-events: .1ms;
    transition: .1s ease-out;
}

.content:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
  }
  
  .content:hover ~ .cursor2{
    opacity: 0;
  }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 8% 0px;

}

.logo {
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 33px;
    transition: transform .4s;
}

.logo:hover {
    transform: scale(1.2);
}

span {
    color: red;
}

span2 {
    color: rgb(110, 214, 25);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

nav ul li a:hover {
    color: red;
    transition: 0.5s;
}

.btn {
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
    
}
h1{
    font-size: 75px;
    margin: 20px 0px 20px;
    font-weight: bolder;
    color: white;
}
h4{
    color: rgb(236, 147, 147);
    letter-spacing: 2px;
    font-size: 25px;
}
h3{
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 35px;
}
.contact{
   
}
.contact form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.contact form input:first-child{
    display: inline-block;
    border: 2px solid red;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;

}
.contact form input:last-child{
    position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}


/* about section start */ 

.about{
	width: 100%;
	padding: 100px 0px;
    background: #122441;
    
    
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.about-text h2{
    color: rgb(250, 243, 243);
    font-size: 65px;
    margin: 0px 20px 45px;
    font-weight: bold;
    
}
.about-text h5{
    color: white;
    font-size: 30px;
    margin: 0px 20px 25px;
    letter-spacing: 2px;
}
.about-text p{
    color: rgb(207, 141, 141);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px 40px 10px 20px;
}
button{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 25px;
    margin: 0px 20px;
    font-weight: bold;
    transform: .4s;
}
button:hover{
    background-color:transparent;
    border: 2px solid red;
}


 /* our service section start */

 .service{
    width: 100%;
	padding: 100px 0px;
    background-color:#0a192f;
 }
 .title{
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 30px auto;
 }
 .box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;        /* need to know */
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.para p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}


/* hire section start */

.hire{
    width: 100%;
	padding: 100px 0px;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hire .button{
    background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.hire .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/* footer section start */

 footer{
    position: relative;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #122441;
 }
 .social{
    display: flex;
 }
 .social a {
    height: 45px;
    width: 50px;
    display: flex;
    margin: 22px 10px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    transition: transform .4s;
}

.social a:hover {
    transform: scale(1.3);
	transition: .3s;
}

.end{
    position: absolute;
    color: #f9004d;
    bottom: 45px;
    font-size: 20px;
}
footer p{
    color: white;
    font-size: 14px;
    line-height: 2px;
}